<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/RWD/RWD-no-media-queries.css">
  <title>RWD without media queries</title>
</head>

<body>
  <main>
    <ul class="grid">
      <li>
        <h2>Card 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis quae beatae rem hic ratione id
          nostrum repellat architecto incidunt sint reiciendis deleniti ducimus libero veritatis necessitatibus nihil
          accusantium asperiores.
        </p>
      </li>
      <li>
        <h2>Card 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis quae beatae rem hic ratione id
          nostrum repellat architecto incidunt sint reiciendis deleniti ducimus libero veritatis necessitatibus nihil
          accusantium asperiores.
        </p>
      </li>
      <li>
        <h2>Card 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis quae beatae rem hic ratione id
          nostrum repellat architecto incidunt sint reiciendis deleniti ducimus libero veritatis necessitatibus nihil
          accusantium asperiores.
        </p>
      </li>
      <li>
        <h2>Card 4</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis quae beatae rem hic ratione id
          nostrum repellat architecto incidunt sint reiciendis deleniti ducimus libero veritatis necessitatibus nihil
          accusantium asperiores.
        </p>
      </li>
      <li>
        <h2>Card 5</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis quae beatae rem hic ratione id
          nostrum repellat architecto incidunt sint reiciendis deleniti ducimus libero veritatis necessitatibus nihil
          accusantium asperiores.
        </p>
      </li>
    </ul>
  </main>
</body>

</html>