<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../../styles/grid/0-starting-point.css">
  <title>CSS Grid starting point</title>
</head>

<body>
  <h1>Simple grid example</h1>

  <div class="container">
    <div>One</div>
    <div>
      Two Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magni doloremque non. Molestias ipsam vitae
      aliquid libero quod, repudiandae culpa minus asperiores accusantium natus earum sequi. Quod libero cumque officia.
      A lot more text for testing grid sizing.
    </div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
    <div>Six</div>
    <div>Seven</div>
  </div>

</body>

</html>