/* General styling */

body {
  width: 900px;
  margin: 0 auto;
  padding: 0.5em 2em 2em;
}

h1 {
  text-align: center;
}

form div {
  margin: 0.5em 0;
}

fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Comparing OS vs non-OS styling*/

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

.non-os-styling input {
  appearance: none;
}

/* Search box */

.search input[type='search'] {
  appearance: none;
}

/* Checkbox
We can use the :checked and :disabled pseudo-classes to change
the appearance of our custom checkbox as its state changes:
*/

.style-check input[type='checkbox'] {
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid grey;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

.style-check input[type='checkbox']::before {
  content: '☑️';
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

.style-check input[type='checkbox']:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}

.style-check input[type='checkbox']:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}