/*-----------------------*/
/* This snippet will change elements to be a border box */
/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*-----------------------*/

body {
    margin: 0;
    color: aliceblue;
    font-family: "Roboto";
    font-size: 20px;
    background-color: hsl(0, 0%, 10%);
}

main {
    margin: 20px;
}

h1 {
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

nav {
    background-color: hsl(0, 0%, 5%);
}

.navbar {
    display: flex;
    padding: 0.2em 0.5em;
    list-style: none;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    margin: 3px 5px;
    padding: .5em .8em;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 20%);
    border-radius: 7px;
}

.box {
    border: 0.2em solid aliceblue;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 150px;
}

.box.balloons {
    border: .4em double;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/balloons.jpg);
}

/* Produce the same background image */
.box.star {
    border-style: dotted;
    background-position: top 10px left 10px;
    background-color: cadetblue;
    background-image: url(../images/star.png);
    background-repeat: repeat-x;
}

.box.new-star {
    border-radius: 1.5em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    background: url(../images/star.png) top 10px left 10px repeat cadetblue;
}
/*-----------------------------------*/

.box.gradient {
    border: .3em dashed;
    background: rgb(131, 58, 180);
    background: linear-gradient(10deg, rgba(131, 58, 180, 1) 7%,
            rgba(253, 29, 29, 1) 58%, rgba(252, 176, 69, 1) 90%);
}

.vertical {
    border-radius: 10px;
    background-color: cadetblue;
    padding: 5px;
    writing-mode: vertical-rl;
}

.box.overflow {
    padding: .2em;
    overflow: hidden;
}

.box.overflow-scroll {
    padding: .2em;
    overflow: scroll;
}