html {
  font-family: "Roboto";
  background-color: #333;
  color: aliceblue;
}

/* Your CSS below here */
.box {
  width: 200px;
  height: 150px;
  text-align: center;
  line-height: 8.333;
  margin: auto;
  /* 
  =18px, default value is 16px, so 1rem=16px, how much is 18px? 
  (18px * 1) / 16px = 1.125rem
  */
  font-size: 1.125rem;
  background-color: cadetblue;
  text-shadow: 1px 1px black;
  border-radius: .5em;
  border: 1px solid #184b4d;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2) 30%);
  box-shadow: 4px 4px 10px black, inset 2px 2px 4px rgb(255, 255, 255, 60%), inset -2px -2px 4px rgb(0, 0, 0, 80%);
}